---
import Layout from '../layouts/LayoutV2.astro';
import Hero from '../components/v2/Hero.astro';
import About from '../components/v2/About.astro';
import Experience from '../components/v2/Experience.astro';
import Research from '../components/v2/Research.astro';
import Contact from '../components/v2/Contact.astro';
import Navigation from '../components/v2/Navigation.astro';
---

<Layout title="Ramon Roca | Biomedical Engineer">
  <Navigation />
  <main id="main-content">
    <Hero />
    <About />
    <Experience />
    <Research />
    <Contact />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    overflow-x: hidden;
  }
</style>