---
// Wrapper component for the Antimicrobial Resistance Timeline
import AntimicrobialResistanceTimeline from './AntimicrobialResistanceTimeline.tsx';
---

<div class="my-12 p-8 md:my-8 md:p-4 bg-surface-1 border border-surface-2 rounded-lg">
  <AntimicrobialResistanceTimeline client:visible />
</div>